In [3]:
import pandas as pd
import numpy as np

#### pandas
##### Panal - Dataframe - Series
* panel - data more than 2 dimenssion
* dataframe - tablelike structure , 2d data , matrix
* series - array like structure, 1d data
These are the three main data structure in pandas-

pandas support numeric and object datatypes
numeri contains - int, int64, float
object - String, Character, Alphanumeric Character, Symbol, Bits and Bytes

Pandas is one of the most used data analytical library/module in python.
pandas can be work  with files ,texts, databases, websites, and clouds.

In [4]:
arr = np.array(["Sun","Mon","Tue","Wed","Thr","Fri","Sat"])
# How to create pandas series with name
s1=pd.Series(arr,name="weekdays")
s1

0    Sun
1    Mon
2    Tue
3    Wed
4    Thr
5    Fri
6    Sat
Name: weekdays, dtype: object

In [5]:
s1.name

'weekdays'

In [6]:
s2=pd.Series([2,5,7,4],name="number list")
s2

0    2
1    5
2    7
3    4
Name: number list, dtype: int64

In [7]:
s3=pd.Series((1,2,3,4,5))
s3

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
s3.dtype

dtype('int64')

In [9]:
s3.mean()

3.0

In [10]:
s2.mean()

4.5

In [11]:
s2.std()

2.0816659994661326

In [12]:
s3.std()

1.5811388300841898

In [13]:
d={
    "Std_Names":["Chandu","Nandu","Bandu"] , "marks":[67,59,46]
}

In [14]:
df = pd.DataFrame(d)
df

  Std_Names  marks
0    Chandu     67
1     Nandu     59
2     Bandu     46

In [ ]:
df5=pd.read_csv(" ")