In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [14]:
data = pd.read_csv(r"C:\Users\PCC\Downloads\laptops.csv")
df = data.copy()
df.head()

,CompanyName,TypeOfLaptop,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,MSI,Business Laptop,17.040680,IPS Panel Retina Display 2560x1600,Intel Core i7,12GB,512GB SSD,Intel Iris Xe Graphics,Linux,2.064834,35844.099371
1,Chuwi,2 in 1 Convertible,16.542395,Full HD,Intel Core i5,12GB,128GB PCIe SSD,Intel Iris Xe Graphics,No OS,4.060656,37019.059051
2,hp,WorkStation,17.295294,Full HD,Intel Xeon E3-1505M,8GB,1TB HDD,Intel Iris Xe Graphics,Linux,2.901689,33329.360341
3,MSI,2 in 1 Convertible,11.526203,2K,Intel Core i7,16GB,512GB NVMe SSD,Intel Iris Xe Graphics,Windows 10,2.914843,68631.102486
4,Microsoft,Gaming,12.649634,Full HD,Intel Core i5,8GB,512GB SSD,AMD Radeon RX 5600M,Windows 10,4.341995,33842.479566

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CompanyName       1000 non-null   object
 1   TypeOfLaptop      1000 non-null   object
 2   Inches            1000 non-null   float64
 3   ScreenResolution  1000 non-null   object
 4   Cpu               1000 non-null   object
 5   Ram               1000 non-null   object
 6   Memory            1000 non-null   object
 7   Gpu               1000 non-null   object
 8   OpSys             1000 non-null   object
 9   Weight            1000 non-null   float64
 10  Price             1000 non-null   float64
dtypes: float64(3), object(8)
memory usage: 86.1+ KB

In [16]:
df.describe()

            Inches       Weight          Price
count  1000.000000  1000.000000    1000.000000
mean     14.496646     3.469800   51602.255339
std       2.066624     0.857112   13802.833231
min      11.005842     2.000819   30060.275100
25%      12.677791     2.720228   40376.617670
50%      14.509298     3.477824   50683.971717
75%      16.313026     4.189891   61897.280126
max      17.998786     4.994556  115137.368077

In [17]:
df["CompanyName"].value_counts()

CompanyName
MSI          128
Microsoft    118
Apple        113
lenevo       113
Asus         112
Chuwi        109
Acer         107
Dell         101
hp            99
Name: count, dtype: int64

In [18]:
df["CompanyName"] = df["CompanyName"].replace("chuwi","samsung")

In [19]:
df["CompanyName"].value_counts()

CompanyName
MSI          128
Microsoft    118
Apple        113
lenevo       113
Asus         112
Chuwi        109
Acer         107
Dell         101
hp            99
Name: count, dtype: int64